<h2>Hero Entry</h2>
  <h3>New Hero Entry Form</h3>
  <form id="new-hero=form">
    <label>Persona<input ng-model="hec.newHeroObject.persona" type="text" placeholder="persona" /></Label>
    <label>Alias<input ng-model="hec.newHeroObject.alias" type="text" placeholder="alias" /></Label>
    <label>SuperPower<input ng-model="hec.newHeroObject.power_id" type="number" placeholder="SuperPower ID" /></Label>

    <button ng-click="hec.addNewHero(newHeroObject)">Submit</button>
  </form>

  new hero object is {{hec.newHeroObject}}
