<p>This should show a list of all heroes in the system, displaying all the information from the entry captured in the view before.
    Each hero in the listing needs to be able to be deleted from the system in the event of their unfortunate demise.</p>
<h2>Test Message: <span>{{hlc.testMessage}}</span></h2>
  <table class="table">
    <thead>
      <tr>
        <th>Persona</th>
        <th>Alias</th>
        <th>SuperPower ID</th>
      </tr>
      </thead>
      <tbody>
        <tr ng-repeat="hero in hlc.heroesList.list">
          <td><input ng-model="hero.persona" value="{{hero.persona}}"</td>
          <td><input ng-model="hero.alias" value="{{hero.alias}}"</td>
          <td><input ng-model="hero.power_id" value="{{hero.power_id}}"</td>
          <td><button ng-click="hlc.updateHero({{hero.id}},{{hero.persona}},{{hero.alias}},{{hero.power_id}})">Update</button></td>
          <td><button ng-click="hlc.deleteHero(hero.id)">Delete</button></td>
        </tr>
      </tbody>
  </table>
